@import "tailwindcss";
@plugin "daisyui";

.no-arrow::-webkit-details-marker {
  display: none;
}

.no-arrow {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}
